%html
	%head
		%title NEW TITLE
		%link{:href => "bootstrap.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
		%script{:src => "http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js", :type => "text/javascript"}
	%body
		= yield