%form{:action => '/new', :method => 'post'}
	%label{:for => 'title'} Title
	%input#title{:type => 'text', :name => 'title'}
	%label{:for => 'body'} Body
	%textarea#body{:cols => "25", :name => 'body', :ROWS => "3"}
	%div
		%input{:type => 'submit', :value => 'Post'}
